body{
    max-width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
    background: url(../img/who.jpg) no-repeat center center fixed;
    background-size : cover;
    
    
}

.container-fluid{
    padding: 0;
    margin: 0;
}
.navbar {
    width: 100%;
    background-color:#177299;
    border-radius: 0;
    border: 1px solid #ffffff;
}
.navbar-inverse .navbar-nav > .active > a{
    background-color:  #79b733;
    color: #f5d76e;
}
.navbar-inverse .navbar-nav > li > a{
    color: #f5d76e;
}
.navbar-nav > li > a{
    padding-right: 30px;
}

.connect{
    color: #f5d76e;
    margin-top: 15px;
    font-size: 1em;
}
.navbar-inverse .navbar-nav > .active > a:hover{
    background-color: #21527e;
}
.navbar-inverse .navbar-nav > li > a:hover{
    background-color: #21527e;
}

