html{
    max-width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
    background-size : cover;
    
}

.navbar {
    width: 100%;
    background-color: #177299;
    border-radius: 0;
    border: 1px solid #ffffff;
}
.navbar-inverse .navbar-nav > .active > a{
    background-color: #79b733;
    color: #f5d76e;
}
.navbar-inverse .navbar-nav > li > a{
    color: #f5d76e;
}
.navbar-nav > li > a{
    padding-right: 30px;
}

.navbar-inverse .navbar-nav > .active > a:hover{
    background-color: #21527e;
}
.navbar-inverse .navbar-nav > li > a:hover{
    background-color: #21527e;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */

@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidebar a {
        float: left;
    }
    div.content {
        margin-left: 0;
    }
}


/* On screens that are less than 400px, display the bar vertically, instead of horizontally */

@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

header h1{
    background-color: rgb(26, 129, 212);
    
}

h1{
    font-size: 15px;
}

/*slider*/

.slider{
    width: 1000px;
    overflow: hidden;
    margin: 100px auto;
}

.slides{
    width: calc(1000px * 2);
    animation: glisse 10s infinite;
}

.slide{
    float: left;
}

@keyframes glisse{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(0);
    }
}


